.container{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10rem 5rem;
  color: #ffffff;
}
.steps{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.steps p{
  color: #afafaf;
}
.stepId{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.form input{
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  border: 1px solid var(--color-gray);
  outline: none;
}
.form input:focus{
  border: 1px solid var(--color-primary-light);
}
.form p{
  color: var(--color-primary-light);
}
.form button{
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  font-size: 1.8rem;
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 8px;
  float: right;
  margin-top: 10rem;
  cursor: pointer;
}
.form button:hover{
  background-color: var(--color-primary-light);
}

.table{
  margin: 5rem 0 17rem 0;
  background-color: var(--color-gray);
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 20rem;
  line-height: 50px;
}
.table thead tr{
  background-color:var(--color-primary-light);
  color: #ffffff;
  
}
.table tr{
  background-color: lightgray;
  text-align: center;
}
