/* Reset Styles */
*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

/* root variable */
:root{
  --color-primary:#4E0063;
  --color-primary-light:#841ba0;
  --color-secondary:#F90E5D;
  --color-secondary-light:#ff4784;
  --color-body:#333333;
  --color-white:#ffffff;
}

html{
  font-size: 62.5%;
}

body{
  color: var(--color-body);
  font-size: 1.4rem;
}

h1,h2,h3{
  font-weight: 700;
}

h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width:1024px) {
  body{
    font-size: 1.8rem;
    line-height: 1.7;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 3.5rem;
  }
}

/* buttons */
.btn{
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem 0;
  white-space: nowrap;
  text-align: center;
  font-size: 1.4rem;
}

.btn--primary{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary{
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn--block{
  width: 100%;
  font-size: 1.6rem;
}