.container{
  max-width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.aside{
  flex:1;
  background-image: url("./assets/images/aside-back.jpg");
  background-size: cover;
}

.pages{
  flex: 2;
  padding: 5rem;
  position: relative;
}
.btnContainer{
  display: flex;
  justify-content: space-between;
}